:root {
}

/* Body */

.body {
  color: #434455;
  background-color: #ffffff;
}

/* Header */

/* nav */
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.log {
  color: #2e2f42;
}

.list-feature {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.list-feature :hover,
:focus {
  color: #404bbf;
}

/* Address */
.address-info {
  font-style: normal;
}
.list-numb {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  list-style: none;
}
